@model ExertSite.Models.Contact

@{
    ViewData["Title"] = "Create";
    Layout = "/Views/Shared/_Admin.cshtml";
    ViewData["pageTitle"] = "Contacts";

}
<script src="https://cdn.ckeditor.com/ckeditor5/31.1.0/classic/ckeditor.js"></script>

<h1>Create</h1>


<div class="row">
    <div class="container-fluid card">

        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ContactText" class="control-label"></label>
                    <textarea asp-for="ContactText" class="form-control" id="conText">Metin</textarea>
                    <span asp-validation-for="ContactText" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AddressText" class="control-label"></label>
                    <textarea asp-for="AddressText" class="form-control" id="adress">Metin</textarea>
                    <span asp-validation-for="AddressText" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EMail" class="control-label"></label>
                    <input asp-for="EMail" class="form-control" />
                    <span asp-validation-for="EMail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContactSmallText" class="control-label"></label>
                    <textarea asp-for="ContactSmallText" class="form-control" id="smallText">Metin</textarea>
                    <span asp-validation-for="ContactSmallText" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    ClassicEditor
        .create(document.querySelector('#adress'))
        .then(editor => {
            console.log(editor);
        })
        .catch(error => {
            console.error(error);
        });
</script>
<script>
    ClassicEditor
        .create(document.querySelector('#smallText'))
        .then(editor => {
            console.log(editor);
        })
        .catch(error => {
            console.error(error);
        });
</script>
<script>
    ClassicEditor
        .create(document.querySelector('#conText'))
        .then(editor => {
            console.log(editor);
        })
        .catch(error => {
            console.error(error);
        });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
