@model ExertSite.Models.Slider

@{
    ViewData["Title"] = "Edit";
    Layout = "/Views/Shared/_Admin.cshtml";
}

<h1>Edit</h1>

<h4>Slider</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SliderId" />
            <div class="form-group">
                <label asp-for="SliderImage" class="control-label"></label>
                <input asp-for="SliderImage" class="form-control" />
                <span asp-validation-for="SliderImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SliderText" class="control-label"></label>
                <input asp-for="SliderText" class="form-control" />
                <span asp-validation-for="SliderText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
