@model ExertSite.Models.GrowText

@{
    ViewData["Title"] = "Create";
    Layout = "/Views/Shared/_Admin.cshtml";
    ViewData["pageTitle"] = "Grow";

}
<script src="https://cdn.ckeditor.com/ckeditor5/31.1.0/classic/ckeditor.js"></script>
<h1>Create</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GrowtextImage" class="control-label"></label>
                <input type="file" asp-for="GrowtextImage" class="form-control" />
                <span asp-validation-for="GrowtextImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrowHeader" class="control-label"></label>
                <input asp-for="GrowHeader" class="form-group"/>                  
                <span asp-validation-for="GrowHeader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>                
                <textarea asp-for="Text" class="ckeditor" id="editor"> 
                     Metin
                </textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .then(editor => {
            console.log(editor);
        })
        .catch(error => {
            console.error(error);
        });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
